[ssl_section]
system_default = system_policy

[system_policy]
# Costringe il protocollo minimo/massimo a TLS 1.3
MinProtocol = TLSv1.3
MaxProtocol = TLSv1.3

# Prioritizza il gruppo Kyber Ibrido
Groups = x25519_kyber768:X25519